<div class="">
	<div class="routerwall row" style="">
		<div class="">
			<div class="">
			<h5 style="text-align:center; color:white; padding-top: .8em;"></h5>
			</div>
			<div class="" >
				<div class="containerWall col s2 center-align"    *ngFor="let container of containers; let i = index; ">
					<div class="panel panel-router ">
						<div class="panel-heading">
							<h4>{{container.name}}</h4>
						</div>
						<div class="">
							<ul class="list-group" [dragula]='"first-bag"'>
								<li *ngFor="let ticket of container.tickets; let x = index" class="list-group-item">
									<div class="routercard">
										<div class="top-card" style="background-color:royalblue;">{{ticket.advisor}} <a style="text-decoration:underline; color:white;"><span class="pull-right">#{{ticket.id}}</span></a></div>
										<div class="top-card" *ngIf="['serviceFloor', 'multipoint'].indexOf(container.nextZones[0]) > -1">Tech:  {{ticket.technician}}</div>
										<div class="customer-name">{{ticket.customerName}}</div>
										<div class="customer-vehicle">{{ticket.vehicle}}</div>
										<div class="customer-vehicle" *ngIf="['parts'].indexOf(container.nextZones[0]) > -1">

											<ol><li *ngFor="let part of ticket.parts;">
													{{part.name}}</li>
											</ol>
										</div>

										<div class="time clearfix"><span class="pull-left">{{ticket.time}}</span>
											<span class="pull-right">{{ticket.timeRemaining}}</span></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>