<header>
	<nav class="white z-depth-1">
	    <div class="row nav-wrapper">
	      	<div class="navbar-brand col s2 hide-on-med-and-down"><span class="sr-only">Kloud DMS</span></div>
	      	<a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i></a>
	      	<div class="col s10 blue-grey darken-3 hide-on-med-and-down">
	      		<div class="col s12">
	      			<div class="col s1 blue-grey-text text-darken-2">.</div>
	      			<div class="black col s11 ul-bar">
			      		<ul class="right">
				        	<li><a><i class="material-icons">person</i></a></li>
					        <li><a><i class="material-icons">chat_bubble</i></a></li>
					        <li><a><i class="material-icons">public</i></a></li>
					        <li><a><i class="material-icons">build</i></a></li>
				      	</ul>
				      	<span class="left"><a>Weather</a></span>
			      	</div>
	      		</div>
	      		
	      		<div class="col s12">
	      			<div class="col s1 blue-grey-text text-darken-2">.</div>
			      	<div class="black col s11 ul-bar">
				      	<ul class="right">
				        	<li><a (click)="myModal.open()">Schedule Appointment </a></li>
					        <li><a>Write Ticket</a></li>
					        <li><a>Vehicle Information</a></li>
					        <li><a>Customer Information</a></li>
				      	</ul>
				      	<span class="left"><a>Today's Date</a></span>
				    </div>
			    </div>		      
	      	</div>
      		<ul class="side-nav" id="mobile-demo">
		        <li><a href="sass.html">Sass</a></li>
		        <li><a href="badges.html">Components</a></li>
		        <li><a href="collapsible.html">Javascript</a></li>
		        <li><a href="mobile.html">Mobile</a></li>
	      	</ul>
	    </div>
	</nav>
	          
</header>


 <modal #myModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-content>
	    <wizard>
			<wizard-step title="Step 1">
				<form #emailForm="ngForm">
			      <div>
			        <label>Choose a option</label>
				    <div *ngFor="let option of options">
				        <p>
					        <input class="with-gap" type="radio" name="option" [id]="option.value" [(ngModel)]="_form.step1.option" 
					        [value]="option.value">
					        <label [for]="option.value">{{option.display}}</label>
				        </p>
				    </div>
			        <input type="text" class="form-control" name="value" aria-describedby="emailHelp" [(ngModel)]="_form.step1.value" [placeholder]="getPlaceHolderString(_form.step1.option)" required>
			        <!-- <small *ngIf="_form.step1.option == 'email'" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
			      </div>
			    </form>
			    <div class="row text-right">				
			    	<div class="col-xs-12">
					<button class=" btn btn-sm btn-primary text-right" type="button" nextStep [disabled]="!emailForm.form.valid" >Next</button>
					</div>
				</div>
			</wizard-step>

			<wizard-step title="Step 2">			
				<div class="row text-center">
					<div class="col-sm-12 form-group">
						<div class="vehicle-card" *ngFor="let card of cardData">
							<input type="radio" name="fb" [value]="card.label" />
							<div class="widget-wrapper">
								<div class="widget item-widget">
									<div>
										<div class="image">
											<img class="absolute-center site-speed-lazy-image img-lazy-load" src="http://i.ebayimg.com/images/g/VbsAAOSwfVpYpfJ9/s-l225.jpg" alt="2004 Ford F-150 FX4">
										</div>
										<div class="item-details">
											<div class="title">2004 Ford F-150 FX4</div>
											<div class="price-row">
												<div class="discounted-price">
													<span class="price">USD 10245.01</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="text-center"><label>{{card.label}}</label></div>
							<div class="text-center"><small>{{card.content}}</small></div> -->
						</div>
					</div>
				</div>
				<div class="row text-right">				
			    	<div class="col-xs-12">
						<button class=" btn btn-sm btn-primary" type="button" previousStep>Previous</button>
						<button class=" btn btn-sm btn-primary" type="button" nextStep>Next</button>
					</div>
				</div>
			</wizard-step>
			<wizard-step title="Step 3">
				<form #complainForm="ngForm">
			    	<div class="form-group">
				    	<label>Complaints</label>
				    	<textarea class="materialize-textarea" name="complain" [(ngModel)]="_form.step3.value" required></textarea>
			    	</div>
			    </form>				
			    <div class="row text-right">				
			    	<div class="col-xs-12">
						<button class=" btn btn-sm btn-primary" type="button" previousStep>Previous</button>
						<button class=" btn btn-sm btn-primary" type="button" [disabled]="!complainForm.form.valid" nextStep >Next</button>
					</div>
				</div>
			</wizard-step>
			<wizard-step title="Step 4">			
				<form #dateForm="ngForm">
			    	<div class="form-group">
				    	<label>Select a date</label>
				    	<input class="form-control" name="date" [ngModel]="_form.step4.date" (focus)="toggleDatePicker(true)" readonly />
						<date-picker name="picker" *ngIf="showDatePicker" [initDate]="_form.step4.date"
						           (onDatePickerCancel)="toggleDatePicker($event)"
						           (onSelectDate)="setDate($event)"></date-picker>
			    	</div>
			    </form>		
			    <div class="row text-right">				
			    	<div class="col-xs-12">    
						<button class=" btn btn-sm btn-primary" type="button" previousStep>Previous</button>
						<button class=" btn btn-sm btn-primary" type="button" nextStep [disabled]="!dateForm.form.valid">Next</button>
					</div>
				</div>
			</wizard-step>
			 <wizard-step title="Step 5">
			 	<div class="row">
				  	<div class="input-field col s12">
				  		<p>Select {{getDisplayString(_form.step1.option)}}  : {{_form.step1.value }}</p>
				  	</div>
				  	<div class="input-field col s12">
				  		<p>Selected a card  :  {{_form.step2.value }}</p>
				  	</div>
				  	<div class="input-field col s12">
				  		<p>Complaints  :  {{_form.step3.value }}</p>
				  	</div>
				  	<div class="input-field col s12">
				  		<p>Available Date  :  {{_form.step4.date }}</p>
				  	</div>
				</div>  	
			  	<div class="row text-right">				
			    	<div class="col-xs-12">
					  	<button class=" btn btn-sm btn-primary" type="button" previousStep >Previous</button>
						<button class=" btn btn-sm btn-primary" type="button" (click)="onComplete()" >Done</button>
					</div>
				</div>
			</wizard-step>
		</wizard>
    </modal-content>
</modal>