<div class="row cardwall">
	<div class="">
		<div>
			<div class="">
				<h5 style="text-align:center; color:white;">Technician Availability</h5>
			</div>
		</div>
		<div class="col s12 first">
			<div class="col s3 center-align" >
				<div class="card white-text" id="tile1">
					<span class="card-title pink-text">.</span>
					<div>
						<i class="material-icons">today</i>
					</div>
					<div class="kpi">13</div>
					<div>Appointments Today</div>
				</div>
			</div>
			<div class="col s3 center-align">
				<div class="card white-text" id="tile3">
					<span class="card-title blue-text">.</span>
					<div>
						<i class="material-icons">person</i>
					</div>
					<div class="kpi">1 out of 7</div>
					<div>Rank</div>
				</div>
			</div>
			<div class="col s3 center-align">
				<div class="card white-text" id="tile2">
					<span class="card-title green-text">.</span>
					<div>
						<i class="material-icons">attach_money</i>
					</div>
					<div class="kpi">$3,204.00</div>
					<div>Today's Total Revenue </div>
				</div>
			</div>
			<div class="col s3 center-align">
				<div class="card white-text" id="tile4">
					<span class="card-title yellow-text">.</span>
					<div>
						<i class="material-icons">trending_up</i>
					</div>					
					<div class="kpi">$264,990.00</div>
					<div>Trend/Month</div>
				</div>
			</div>
		</div>	
	</div>
</div>