<div class="row cardwall">
	<div class="">
		<div>
			<div class="">
				<h5 style="text-align:center; color:white;">Key Performance Indicators</h5>
			</div>
		</div>
		<div class="col s12">
			<div class="col s3" >
				<div class="front card white-text" id="tile1">
					<div>
						<i class="material-icons">today</i>
					</div>
					<div class="kpi">13</div>
					<div>Appointments Today</div>
				</div>
				<div class="rear">  </div>
			</div>
		<!-- 	<div class="col s3">
				<div class="front card white-text" id="tile3">
					<div>
						<i class="material-icons">person</i>
					</div>
					<div class="kpi">1 out of 7</div>
					<div>Rank</div>
				</div>
				<div class="rear">
					<h3>Leaderboard</h3>
					<ol class="col s12" style="column-count: 2; column-gap:40px;">
						<li>
							<span>Marcus Aman</span> - <span>$750</span>
						</li>
						<li>
							<span>Archie Rival</span> - <span>$630</span>
						</li>
						<li>
							<span>James Retiring</span> - <span>$550</span>
						</li>
						<li>
							<span>Simon Aspirer</span> - <span>$480</span>
						</li>
						<li>
							<span>Larry Transfer</span> - <span>$394</span>
						</li>
						<li>
							<span>Jane Novice</span> - <span>$250</span>
						</li>
						<li>
							<span>Joe Newbie</span> - <span>$150</span>
						</li>
					</ol>
				</div>
			</div>
			<div class="col s3 col">
				<div class="front card white-text" id="tile2">
					<div>
						<i class="material-icons">attach_money</i>
					</div>
					<div class="kpi">$3,204.00</div>
					<div>Today's Total Revenue </div>
				</div>
				<div class="rear">
					<h3>Cash Flow</h3>
					<p>$1,500.00</p>
					<p>Net</p>
					<p>-$1,704.00</p>
					<p>Billed to Parts</p>
				</div>
			</div>
			<div class="col s3">
				<div class="front card white-text" id="tile4">
					<i class="material-icons">trending_up</i>
					<div class="kpi">$264,990.00</div>
					<div>Trend/Month</div>
				</div>
				<div class="rear">
					<h3>Daily Average</h3>
					<p>+$8,833/day</p>
				</div>
			</div>
			<div class="col s3">
				<div class="front card white-text" id="tile5">
				<i class="material-icons">supervisor_account</i>
					<div class="kpi">$110.38</div>
					<div>Average Revenue / Repair</div>
				</div>
				<div class="rear">
					<h3>Stats</h3>
					<p style="text-decoration:underline">$8,833.00 Trend Revenue / day</p>

					<p>80 Trend Customers / day</p>
				</div>

			</div>
			<div class="col s3">
				<div class="front card white-text" id="tile6">
					<i class="material-icons">work</i>
					<div class="kpi">8</div>
					<div>Appointments Tomorrow</div>
				</div>
				<div class="rear">Order</div>
			</div>
			<div class="col s3">
				<div class="front card white-text" id="tile7">
					<i class="material-icons">library_books</i>
					<div class="kpi">93.4</div>
					<div>MTD CSE</div>
				</div>
				<div class="rear">Blog</div>
			</div>
			<div class="col s3">
				<div class="front card white-text" id="tile8">
					<i class="material-icons">insert_drive_file</i>
					<div class="kpi">6</div>
					<div>Active Tickets</div>
				</div>
				<div class="rear">Contact</div>
			</div> -->

		</div>
	</div>
</div>